* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    color: whitesmoke;
}

body {
    background-color: black;
}

#name {
    text-align: center;
    padding: 1rem;
    padding-top: .5rem;
    border-radius: 50px;
    margin: 1rem;
    font-size: .88rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.486), #0131657e);
    box-shadow: 0px 0px 5px whitesmoke;
}

#name-separator {
    display: none;
}

.title-container {
    display: flex;
    justify-content: center;
}

.nav-options {
    display: none;
}

#title, #blinker {
    color: #facc00;
}
