* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}

body {
    background-color: rgba(0, 0, 0, 0.952);
}






/******HEADER******/

#name {
    text-align: center;
    padding: 1rem;
    padding-top: .5rem;
    border-radius: 50px;
    margin: 1rem;
    font-size: .88rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.486), #0131657e);
    box-shadow: 0px 0px 5px whitesmoke;
    max-width: 340px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#name-separator {
    display: none;
}

.title-container {
    display: flex;
    justify-content: center;
}

.nav-options {
    display: none;
}

#title, #blinker {
    color: #facc00;
}

.github-icon {
    display: none;
}

#refresh:hover {
    cursor: pointer;
}

.icon-separator {
    display: none;
}






/* *****MAIN***** */

/* *****PROJECTS***** */

h2 {
    text-align: center;
    margin: 2rem;
    letter-spacing: 2px;
    font-size: 1.5rem;

}

h3 {
    font-size: 1.5rem;
    text-align: center;
    grid-area: h3;
    margin-top: 1rem;
}
.project-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.486), #0131657e);
    box-shadow: 0px 0px 5px whitesmoke;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 45% 25% 30%;
    grid-template-areas: 
    "thumbnail h3"
    "description description"
    "buttons buttons";
    padding: .5rem;
    height: 300px;
    letter-spacing: 1px;
    margin: 1rem;
    border-radius: 25px;
    margin-bottom: 3rem;
    min-width: 300px;
    width: 80%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    grid-area: thumbnail;
    margin: .5rem auto;
    margin-top: 1rem;
}

.button {
    color: black;
    /* background-color: #fab200; */
    background-image: linear-gradient(#facc00, #fab200);
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    height: 50%;
    width: 40%;
    font-size: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px whitesmoke;
}

.project-description {
    grid-area: description;
    color: lightgray;
    text-align: left;
    margin-left: .75rem;
    margin-top:.5rem;
}

.buttons-container {
    grid-area: buttons;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/* *****TECH-STACK***** */

.tech-stack {
    background-image: linear-gradient(rgba(0, 0, 0, 0.486), #0131657e);
    box-shadow: 0px 0px 5px whitesmoke;
    padding-bottom: 2rem;
}

.tech-stack-header {
    padding-top: 1rem;
}

h4 {
    text-align: center;
    letter-spacing: 1px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.html-css-merge {
    display: flex;
    justify-content: space-around;
}




/* *****CONTACT***** */

.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.486), #0131657e);
    box-shadow: 0px 0px 5px whitesmoke;
    text-align: center;
    letter-spacing: 1px;
}

.contact-header {
    margin: 0;
    padding: 2rem;
}

.email, .phone {
    padding: .75rem
}

.linkedin-icon {
    margin-bottom: 3rem;
}

.linkedin-icon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px whitesmoke;

}






/* *****MEDIA QUERIES***** */

@media screen and (min-width: 768px) {


    #name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 2rem auto;
        letter-spacing: 1px;
        padding: 1rem;
        margin-bottom: 0;
        font-size: 1rem;
        max-width: 90%;
    }

    #name-separator {
        display: inline;
        padding: 0 .5rem;
    }

    .tablet-mode {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nav-options {
        display:inline;
    }

    .name-title {
        display: flex;

    }

    .github-icon {
        display: inline;
    }

    .icon-separator {
        display: inline;
    }

    .html-css-merge {
        margin-left: 20%;
        margin-right: 20%;
    }

    .github-icon:hover {
        border-radius: 50%;
        box-shadow: 0px 0px 10px yellow;
    }

    #git-holder {
        display: flex;
        align-items: center;
    }

    .project-container {

        max-width: 75%;
    }

    .email, .phone {
        font-size: 1.25rem;
    }

    .linkedinround-icon {
        margin-right: 1rem
    }

    .linkedinround-icon:hover {
        border-radius: 50%;
        box-shadow: 0px 0px 10px yellow;
    }

    .icon-separator {
        display: flex;
    }

    .moon-icon {
        display: none;
    }

  }










  @media screen and (min-width: 1024px) {
    .tablet-mode {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 95%;
        margin: auto;
        /* max-width: 1600px; */
    }

    #name {
        width: 95%;
        max-width: 95%;
    }

    .html-css-merge {
        margin-left: 25%;
        margin-right: 25%;
    }

    #refresh {
        margin-left: 1rem;
    }

    .tech-stack-contact-merge {
        display: flex;
    }

    .tech-stack {
        flex-basis: 50%;
    }

    .contact {
    flex-basis: 50%;
    }

    .contact-header {
        margin: 1rem;
    }

    .html-css-merge {
        margin-left: 10%;
        margin-right: 10%;
    }

    .phone {
        margin-bottom: 3rem;
    }

    .moon-icon {
        fill: gray;
        margin-right: 1rem;
        display: inline;
        display: none;
    }

    .moon-icon:hover {
        box-shadow: 0px 0px 10px yellow;
        border-radius: 50%;
        cursor: pointer;
    }






    /* ******THEME SWITCH****** */

     /* body {
        background-image: url(images/purpbackground.jpg); 
        background-repeat: no-repeat;
        background-size: cover;
        height: 130vh;
     }

     #name {
        background-color: rgba(189, 20, 189, 0.205);
        background-image: none;
    }

    .project-container {
        background-image: none;
        background-color: rgba(189, 20, 189, 0.205);
    }

     .projects {
        max-width: 100%;
     }   

     .tech-stack {
        background-image: none;
        background-color: rgba(189, 20, 189, 0.205);
     }

     .contact {
        background-image: none;
        background-color: rgba(189, 20, 189, 0.205);
     } */

   
  } 










